







<!--Navbar-->
<div class="row" style="width: 100%">

  <!-- Navbar brand -->
  <div style="float: left" class="col-md-5"><a class="navbar-brand" style="font-weight: bold">Contact</a></div>

  <!-- Collapse button -->
  <div  style="float: right; margin-top: -25px" class="col-md-7">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="float: right !important;">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" style="float: right !important; margin-right: 20px !important; margin-left: 20px !important;">
      <!-- Dropdown -->
      <li class="nav-item">
        <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i></a>
      </li>
    </ul>
    <!-- Search form -->
    <form class="form-inline" style="float: right !important; margin-top: 10px !important;">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </form>
    <!-- Links -->

    <!-- Links -->
  </div>
  <!-- Collapsible content -->
  </div>
</div>
<!--/.Navbar-->
